@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Inter", sans-serif;
  font-family: "Open Sans", sans-serif;
  font-family: "Poppins", sans-serif;
  font-family: "Inter";
  font-style: normal;
}

.subjectMultimedia {
  width: 100%;
  padding: 50px 160px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  /* ÌnorrTeach */
}

.subjectMultimedia .wrapInforSubject {
  width: 60%;
}

.subjectMultimedia .wrapInforSubject .tittle {
  height: 24px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 24px;
  color: #28587e;
  margin-bottom: 30px;
}

.subjectMultimedia .wrapInforSubject span.describeSubject {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #737373;
}

.subjectMultimedia .wrapInforSubject .backGroundAni {
  margin-top: 20px;
  background-image: url("./img/v974-06.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  min-height: 390px;
  position: relative;
}

.subjectMultimedia .wrapInforSubject .backGroundAni .box1,
.subjectMultimedia .wrapInforSubject .backGroundAni .box2,
.subjectMultimedia .wrapInforSubject .backGroundAni .box3 {
  position: absolute;
  width: 200px;
  height: 200px;
}

.subjectMultimedia .wrapInforSubject .backGroundAni .box1 {
  width: 0px;
  height: 0px;
  border-left: 100px solid red;
  border-right: 100px solid red;
  border-top: 100px solid red;
  border-bottom: 100px solid red;
  -webkit-animation: scale_Box1 1s linear forwards, animationBox1 3s ease-in-out 1s both;
          animation: scale_Box1 1s linear forwards, animationBox1 3s ease-in-out 1s both;
}

.subjectMultimedia .wrapInforSubject .backGroundAni .box2 {
  -webkit-animation: scale_Box2 2s linear forwards, animationBox2 2s linear 4s both, animationBox2_move 3s linear 6s forwards;
          animation: scale_Box2 2s linear forwards, animationBox2 2s linear 4s both, animationBox2_move 3s linear 6s forwards;
}

.subjectMultimedia .wrapInforSubject .backGroundAni .box3 {
  width: 150px;
  height: 150px;
  top: 100%;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border: 5px solid green;
  -webkit-animation: animationBox3 3s ease-in-out 8s both;
          animation: animationBox3 3s ease-in-out 8s both;
}

.subjectMultimedia .wrapInforSubject .navBar {
  width: 100%;
  min-height: 60px;
  background: #ffffff;
  margin-top: 30px;
  -webkit-box-shadow: 0px 15px 50px 5px rgba(255, 228, 89, 0.1);
          box-shadow: 0px 15px 50px 5px rgba(255, 228, 89, 0.1);
  border-radius: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px 16px;
  position: relative;
}

.subjectMultimedia .wrapInforSubject .navBar .navBar_item span {
  display: block;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  position: relative;
  color: #737373;
  border-radius: 8px;
  padding: 10px;
}

.subjectMultimedia .wrapInforSubject .navBar .navBar_item span:hover {
  background: #f69522;
  color: #fff;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  cursor: pointer;
}

.subjectMultimedia .wrapInforSubject .navBar .navBar_item.active {
  background: #f69522;
  border-radius: 8px;
}

.subjectMultimedia .wrapInforSubject .navBar .navBar_item.active span {
  color: #fff;
}

.subjectMultimedia .wrapInforSubject .inforNavbar {
  min-height: 260px;
  background-color: #f9f9f9;
  color: #737373;
  padding: 20px;
}

.subjectMultimedia .wrapInforSubject .inforNavbar .inforNavbar_item {
  display: none;
}

.subjectMultimedia .wrapInforSubject .inforNavbar .inforNavbar_item p {
  -webkit-animation: textAnimotion linear 0.6s both;
          animation: textAnimotion linear 0.6s both;
}

.subjectMultimedia .wrapInforSubject .inforNavbar .inforNavbar_item.active {
  display: block;
}

.subjectMultimedia .wrapInforTeacher {
  position: relative;
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 651px;
  overflow: hidden;
}

.subjectMultimedia .wrapInforTeacher.show::after {
  display: none;
}

.subjectMultimedia .wrapInforTeacher::after {
  content: " ";
  width: 120%;
  height: 300px;
  background: #fff;
  -webkit-filter: blur(15px);
          filter: blur(15px);
  position: absolute;
  top: 58%;
  left: -50px;
}

.subjectMultimedia .wrapInforTeacher .wrapInforTeacher_item {
  margin-bottom: 40px;
  width: 100%;
  height: 296px;
  padding: 20px 70px;
  background: #f9f9f9;
  border-radius: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.subjectMultimedia .wrapInforTeacher .wrapInforTeacher_item h3 {
  color: #28587e;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 24px;
  margin-bottom: 24px;
}

.subjectMultimedia .wrapInforTeacher .wrapInforTeacher_item img {
  width: 100px;
  height: 100px;
}

.subjectMultimedia .wrapInforTeacher .wrapInforTeacher_item .nameTeacher {
  color: #28587e;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}

.subjectMultimedia .wrapInforTeacher .wrapInforTeacher_item p {
  color: #28587e;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}

.subjectMultimedia .wrapInforTeacher .wrapInforTeacher_item:nth-child(3) {
  margin-top: -100px;
  opacity: 0;
}

.subjectMultimedia .wrapInforTeacher .wrapInforTeacher_item.show {
  -webkit-animation: showMoreInfor 0.8s linear both;
          animation: showMoreInfor 0.8s linear both;
}

.subjectMultimedia .wrapInforTeacher .wrapInforTeacher_item.show.delay {
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
}

.subjectMultimedia .wrapInforTeacher .btnDown {
  position: absolute;
  z-index: 1;
  width: 133px;
  height: 42px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1.5px solid #737373;
  border-radius: 38px;
  background-color: #737373;
  top: 58%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  font-size: 30px;
  color: #fff;
  cursor: pointer;
}

.subjectMultimedia .wrapInforTeacher .btnDown.show {
  -webkit-animation: btnMoveWhenShow 1s ease-in-out 1s forwards;
          animation: btnMoveWhenShow 1s ease-in-out 1s forwards;
}

.subjectMultimedia .wrapInforTeacher .btnDown.show .bx-downvote {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
}

.subjectMultimedia .wrapInforTeacher .btnDown:hover {
  background-color: #f69522;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
/*# sourceMappingURL=style.css.map */