* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  font-family: "Open Sans", sans-serif;
  font-family: "Poppins", sans-serif;
  font-family: "Inter";
  font-style: normal;
}
.subjectMultimedia {
  //   height: 500px;
  width: 100%;
  padding: 50px 160px;
  display: flex;
  justify-content: space-between;
  .wrapInforSubject {
    width: 60%;
    // background-color: red;
    .tittle {
      //   width: 395px;
      height: 24px;
      font-family: "Inter";
      font-style: normal;
      font-weight: 600;
      font-size: 32px;
      line-height: 24px;
      color: #28587e;
      margin-bottom: 30px;
    }
    span.describeSubject {
      font-family: "Inter";
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      color: #737373;
    }
    .backGroundAni {
      margin-top: 20px;
      background-image: url("./img/v974-06.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      width: 100%;
      min-height: 390px;
      position: relative;
      .box1,
      .box2,
      .box3 {
        position: absolute;
        width: 130px;
        height: 130px;
        border-radius: 50%;
      }
      .box1 {
        background-color: red;
        top: 30%;
        left: 7%;
        animation: scale 1s ease-in-out, move 5s linear 1s;
      }
      .box2 {
        background-color: green;
        top: 0;
        right: 10%;
      }
      .box3 {
        top: 100%;
        left: 50%;
        transform: translate(-50%, -100%);
        background-color: yellow;
      }
    }
    .navBar {
      width: 100%;
      min-height: 60px;
      background: #ffffff;
      margin-top: 30px;
      box-shadow: 0px 15px 50px 5px rgba(255, 228, 89, 0.1);
      border-radius: 8px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 10px 16px;
      span {
        display: block;
        font-family: "Inter";
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        // color: #ffffff;
        color: #737373;
        border-radius: 8px;
        padding: 10px;
        &:hover {
          background: #f69522;
          color: #fff;
          transition: all 0.3s linear;
          cursor: pointer;
        }
        &.active {
          background: #f69522;
          color: #fff;
        }
      }
    }
    .inforNavbar {
      min-height: 260px;
      background-color: #f9f9f9;
      color: #737373;
      padding: 20px;
      .inforNavbar_item {
        display: none;

        &.active {
          display: block;
        }
      }
    }
  }
  /* ÌnorrTeach */
  .wrapInforTeacher {
    position: relative;
    width: 30%;
    // background-color: green;
    display: flex;
    flex-direction: column;
    min-height: 651px;
    overflow: hidden;
    &.show {
      // animation: showMoreInfor 1s linear;
      &::after {
        display: none;
      }
    }
    &::after {
      content: " ";
      width: 120%;
      height: 300px;
      background: #fff;
      filter: blur(15px);
      position: absolute;
      top: 58%;
      left: -50px;
      // box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    }
    .wrapInforTeacher_item {
      margin-bottom: 40px;
      width: 100%;
      height: 296px;
      padding: 20px 70px;
      background: #f9f9f9;
      border-radius: 8px;
      display: flex;
      flex-direction: column;
      align-items: center;
      h3 {
        color: #28587e;
        font-family: "Inter";
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 24px;
        margin-bottom: 24px;
      }
      img {
        width: 100px;
        height: 100px;
      }
      .nameTeacher {
        color: #28587e;
        font-family: "Inter";
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
      }
      p {
        color: #28587e;
        font-family: "Inter";
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
      }
      // &:nth-child(2) {
      //   margin-top: -100px;
      //   opacity: 0;
      // }
      &:nth-child(3) {
        margin-top: -100px;
        opacity: 0;
      }
      &.show {
        animation: showMoreInfor 0.8s linear both;
        &.delay {
          animation-delay: 1.5s;
        }
      }
    }
    .btnDown {
      position: absolute;
      z-index: 1;
      width: 133px;
      height: 42px;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1.5px solid #737373;
      border-radius: 38px;
      background-color: #737373;
      top: 58%;
      left: 50%;
      transform: translateX(-50%);
      font-size: 30px;
      color: #fff;
      cursor: pointer;
      &.show {
        animation: btnMoveWhenShow 1s ease-in-out 1s forwards;
        .bx-downvote {
          transform: rotate(180deg);
          transition: all 0.5s linear;
        }
      }
      &:hover {
        background-color: #f69522;
        transition: all 0.3s linear;
      }
      .bx-downvote {
        animation: iconDown 0.6s linear infinite;
      }
    }
  }
}
